body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

.header__container {
  max-width: 1200px;
  margin-inline: auto;
}

.logo {
  width: 50px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding: 10px 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.access-panel__social-button-facebook svg {
  fill: #4267b2;
}

.login-btn {
  background: none;
  height: 72px;
  margin: 16px;
  padding: 23px;
  width: 72px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &:hover {
    border-color: #003b95;
  }
}

.section-constainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.user-email {
  padding-right: 5px;
}

.verified {
  background-color: green;
  color: #fff;
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.unverified {
  background-color: red;
  color: #fff;
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.email-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 8.7rem;
}

/*  */

header {
  background-color: #006ce4;
}

.nav-users {
  display: flex;
  align-items: center;
  margin-inline: auto;
  gap: 5px;
  padding: 2px 8px;
  border-radius: 5px;
  height: 50px;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #245bae;
  }
}

.nav-user__photo img {
  width: 35px;
  border-radius: 50%;
  border: 2px solid salmon;
}

.user__name {
  color: #fff;
}

.nav__links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__logo-name {
  color: #fff;
}

.nav__links a {
  color: #fff;
}

.nav-link__details-users {
  position: absolute;
  width: 180px;
  height: 316px;
  right: 75px;
  background-color: red;
  border-radius: 5px;
}

.nav-link__details-user {
  color: rgb(250, 250, 250);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
}

.nav-link__details-user svg {
  width: 16px;
}

.manage-account {
  margin-top: 1rem;
}

/*  */
.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

.mobile-container {
  display: none;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .navbar__mobile--icons {
    display: flex;
    gap: 10px;
  }

  .logined-users {
    display: flex;
    align-items: center;
  }
}
